---
layout: default
---
<!-- <div class="content full-bleed intro">
  Welcome to my homepage!!1
</div> -->
<div class="posts">
  <div class="content full-bleed" id="recent-posts">
  {% for post in site.posts limit:25 %}<a
    href="{{ post.url }}" class="post-excerpt">
      <div class="padded-content">
         <info datetime="{{ page.date | date: "%Y-%m-%d" }}">
          {{ post.date | date: "%b %Y" }}
        </info>
        <div class="title">{{ post.title }}</div>
        {% if post.description %}
        <span class="body">{{ post.description | strip_html }}</span>
        {% else %}
        <span class="body">{{ post.excerpt | strip_html }}</span>
        {% endif %}
      </div>
    </a>{% endfor %}
    <div class="breaker"></div>
    <div class="end">
      <a href="/archive/">More...</a>
    </div>
  </div>
</div>

