<!DOCTYPE HTML>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}FF Anson</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% if page.title != "Archive (sidebar)" %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endif %}
    <link href='/res/font.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen, projection" href="/res/screen.css" type="text/css">
    <link rel="stylesheet" media="print" href="/res/print.css" type="text/css">
    <link rel="alternate" type="application/atom+xml" title="FF Anson" href="http://feeds.feedburner.com/hunch">
    <link rel="shortcut icon" href="/res/roundfavicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/res/57*57appleTouchIcon.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/res/72*72appleTouchIcon.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/res/114*114appleTouchIcon.png">
    {% if page.ios_app_name %}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    {% endif %}
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
      {% if page.description %}
      <meta name="description" content="{{ page.description }}">
      <meta name="og:description" content="{{ page.description }}">
      {% else if content %}
      <meta name="description" content="{{ content | strip_html | truncatewords: 25 }}">
      <meta name="og:description" content="{{ content | strip_html | truncatewords: 25 }}">
      {% endif %}
    {% else %}
      <meta name="description" content="FF Anson">
    {% endif %}
    {% if page.og_image_url %}
    <meta property="og:image" content="{{ page.og_image_url }}">
    {% else %}
    {% if page.photo_url %}
    <meta property="og:image" content="{{ page.photo_url }}">
    {% endif %}
    {% endif %}
    <meta property="og:url" content="http://kirkzwy.github.io{{ page.url | remove_first:'index.html' }}">
    <meta property="og:site_name" content="kirkzwy.github.io">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="en_GB" />
    {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}">
    {% endif %}
    {% if page.title != "Archive (sidebar)" %}
    {% include sidebar_ui_controller.html %}
    {% endif %}
    {% if page.include_move %}
    <script src="http://movelang.org/move.js"></script>
    {% endif %}
  </head>
  <body{% if page.wide_layout %} class="wide"{% endif %}>
    <!--iframe id="sidebar"></iframe-->
    <header class="navbar">
      <a href="/">
        <img src="http://ffanson.qiniudn.com/FFAnson/gh-page2XroundFFicon.png" width="21" height="21" alt="FFAnsonIcon">
        <div>
          <p text="Anson">Anson</p>
        </div>
      </a>
      <ul class="navigation">
        <li><a href="/photos/"{% if page.url contains "/photos/" %}class="active"{% endif %} title="A selection of recent photography">Photography</a></li>
        <li><a href="/projects/"{% if page.url contains "/projects/" %}class="active"{% endif %} title="Projects I am or was involved in">Projects</a></li>
        <li><a href="/archive/"{% if page.url contains "/archive/" %}class="active"{% endif %} title="Archived articles">Archive</a></li>
        <li><a href="/about/"{% if page.url contains "/about/" %}class="active"{% endif %}>About me</a></li>
      </ul>
    </header>
    <!--div class="wrapper content"-->
      {{ content }}
    <!--/div-->
    
    {% if paginator.page %}
    <div id="paginator" class="content">
      {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}/">Older entries</a>
      {% endif %}
      {% if paginator.previous_page %}
      <a href="/page{{ paginator.previous_page }}/">Newer entries</a>
      {% endif %}
    </div>
    {% endif %}
    
    {% unless page.no_footer %}
    <footer>
      <p>
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US" class="cc"><img src="/res/cc-cc.png" class="cc">
        <img src="/res/cc-by.png" class="cc"></a>
        This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons License</a>
      </p>
    </footer>
    {% endunless %}
    
    {% include prettify.html %}
    {% include analytics.html %}

    <script src="/res/jquery-1.11.1.min.js"></script>
    <script>
    (function ($) {
      $(document).ready(function(){
        if ( $( '.navbar' ).length ) {
          $( 'body' ).on( 'mousewheel', function() {
            if ( $( document ).scrollTop() >= 300 )  {
              $( '.navbar' ).removeClass( 'show' );
              $( '.navbar' ).addClass( 'hide' );
            } // End If Statement
            if ( ( $( document ).scrollTop() < 300 ) && ( $( document ).scrollTop() > 0 ) && ( $( '.navbar' ).hasClass( 'hide' ) ) )  {
              $( '.navbar' ).removeClass( 'hide' );
              $( '.navbar' ).addClass( 'show' );
            } // End If Statement
        });
    } // End If Statement
  });
}(jQuery));
    </script>
  </body>
</html>
